.gradle/
build/
run/
bin/
.idea/
out/
*.iml
.vscode/
*.launch
.settings/
.classpath
.project
.eclipse/
common/src/main/resources/assets/safra/safra-quic.crt
common/src/main/resources/assets/safra/safra-quic.key

# OS files
Thumbs.db
.DS_Store
