<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
  <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="forge"/>
  <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.launcher.Main"/>
  <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.net.preferIPv6Addresses=system -XX:+UseCompactObjectHeaders -Dforge.enableGameTest=true -Dforge.enabledGameTestNamespaces=safra -Dio.netty.transport.noNative=true -Djava.net.preferIPv4Stack=false"/>
  <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--main net.minecraftforge.bootstrap.ForgeBootstrap --cache C:\Users\kubil\.gradle\caches\minecraftforge\forgegradle\slime-launcher\cache\net\minecraftforge\forge\26.1-62.0.9 --metadata C:\Users\kubil\IdeaProjects\Safra-26.1\.gradle\mavenizer\repo\net\minecraftforge\forge\26.1-62.0.9\forge-26.1-62.0.9-metadata.zip -- --launchTarget forge_userdev_client --version MOD_DEV --assetIndex {asset_index} --assetsDir {assets_root} --gameDir . --mixin.config=safra.forge.mixins.json --username Player776"/>
  <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\kubil\IdeaProjects\Safra-26.1\forge\run"/>
  <mapAttribute key="org.eclipse.debug.core.environmentVariables">
    <mapEntry key="MCP_MAPPINGS" value="official_26.1"/>
  </mapAttribute>
  <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
    <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;runtimeClasspathEntry projectName=&quot;forge&quot; type=&quot;1&quot; path=&quot;5&quot; /&gt;"/>
    <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.buildship.core.gradleclasspathcontainer&quot; javaProject=&quot;forge&quot; type=&quot;4&quot; path=&quot;5&quot; /&gt;"/>
    <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;runtimeClasspathEntry externalArchive=&quot;C:\Users\kubil\.gradle\caches\modules-2\files-2.1\net.minecraftforge\slime-launcher\0.1.15\9db2bb7ee49a0fc3e2871a2a3aa1969b723bbe01\slime-launcher-0.1.15.jar&quot; type=&quot;2&quot; path=&quot;5&quot; /&gt;"/>
    <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-25&quot; type=&quot;4&quot; path=&quot;5&quot; /&gt;"/>
  </listAttribute>
  <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
</launchConfiguration>
